:root {
    --color-primary:   #0d6efd;
    --color-secondary: #6c757d;
    --color-success:   #198754;
    --color-danger:    #dc3545;
    --color-warning:   #ffc107;
    --color-info:      #0dcaf0;
    --color-light:     #f8f9fa;
    --color-dark:      #212529;
    --main-margin-size: 10px;
}

.primary{
    color: var(--color-primary);
}
.secondary{
    color: var(--color-secondary);
}
.success{
    color: var(--color-success);
}
.danger{
    color: var(--color-danger);
}

body{
    margin:0;
}
.main-container{
    margin: var(--main-margin-size);
}